body {
  margin-top: 0;
  overflow: hidden !important;
}

.App {
  text-align: center;
  background-color: #FFFDE7;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 60px calc(100vh - 160px) 20px;
  overflow: hidden;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  text-align: left;
}

.app_title {
  font-weight: 700;
  margin: 0 0 20px 0;
  padding: 20px 20px;
  border-bottom: 1px solid #EEEEEE;
  box-shadow: 0 0 10px #9E9E9E !important;
}

.toolbar {
  padding: 0 20px 20px 20px;
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-column-gap: 10px;
}

.refresh {
  background-color: #FFFDE7;
  font-size: 12px !important;
  color: black;
  border-radius: 20px;
  border: 1px solid #EEEEEE;
  padding: 4px 10px;
}

.refresh:hover {
  border: 1px solid #5E35B1;
  transition: border 0.3s;
  cursor: pointer;
}

.refresh:not(:hover) {
  border: 1px solid #EEEEEE;
  transition: border 0.3s;
}

.SearchInput {
  outline: none !important;
  border: 1px solid #EEEEEE;
  border-radius: 20px;
  background-color: #FFFDE7;
  padding: 10px 20px;
}

.SearchInput:hover {
  border: 1px solid #5E35B1;
  transition: border 0.3s;
  cursor: text;
}

.SearchInput:not(:hover) {
  border: 1px solid #EEEEEE;
  transition: border 0.3s;
}

.NoticeList {
  margin: 0 20px;
  display: grid;
  height: fit-content;
  max-height: calc(100vh - 160px);
  grid-template-columns: 1fr;
  overflow-y: scroll;
}

@media screen and (min-width: 700px) {
  .NoticeList {
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }
}