.App {
  text-align: center;
  margin: 40px 20px 20px 20px;
}

.header {
  margin-bottom: 60px;
}

.toolbar {
  margin: 20px 0;
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-column-gap: 10px;
}

.refresh {
  background-color: #66BB6A;
  font-size: 12px !important;
  color: white;
  border-radius: 20px;
  border: none;
  padding: 4px 10px;
}

.SearchInput {
  border: none;
  outline: none !important;
  border-radius: 20px;
  background-color: #E8F5E9;
  padding: 10px 20px;
}

.SearchInput:focus {
  border: none;
  outline: none !important;
  box-shadow: 0 0 10px #66BB6A !important;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  text-decoration: none;
  text-align: left;
  color: black;
  border-top: 1px solid #E0E0E0;
  padding: 20px 20px;
}

.wrapper:hover {
  color: #2E7D32;
  text-decoration: underline;
}

.NoticeTitle {
  margin-bottom: 16px;
}